{
    "data": {
        "elevation": 234,
        "external_url": null,
        "internal_url": null,
        "latitude": 43.03793644425802,
        "location_name": "OurHouse",
        "longitude": -83.80946159362794,
        "time_zone": "America/Detroit",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}