# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
# But descend into directories
!*/

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!/custom_components/**
!/deps/**
!/www/**
!/appdaemon/**
!/lovelace/**
!/themes/**
!/repositories/**
!/addons/**
!/node-red/**
!/share/**
!/automations/**
!/notebooks/**
!/integrations/**

# Ignore folders.
.cloud
.google.token
.storage

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
ssh_key
html5_push_registrations.conf
.storage/auth*
matrix.yaml
